.uno{
    border: blue 5px solid;
    
}
.dos{
    border: green 5px solid;
}
.tres{
    margin: auto;
    padding: auto;
    border-right: green;
    border-width: blue;
    
}
.cuatro{
    border: yellow 5px dotted;
}   