header {
  padding: 25px;
  background: rgb(21, 146, 104);
}
nav {
  text-align: left;
  background: rgb(21, 146, 104);
  color: rgb(223, 14, 14);
  font-weight: bolder;
  line-height: 180%;
  border-radius: 8px;
  width: 95%;
}
nav ul a {
  text-decoration: none;
  color: rgb(225, 238, 234);
}
nav ul a:hover {
  text-decoration: none;
  color: rgb(170, 199, 189);
  font-size: 16px;
}
#menu {
  display: inline;
  margin: 10px;
  border-radius: 8px;
}
body {
  background: rgb(21, 146, 104);
  font-family: 'Chivo', sans-serif;
}
h1 {
  font-size: 21px;
  font: bold;
}
h2 {
  font-size: 15px;
  font: bold;
}
main {
  padding: 5px;
  background: rgb(187, 206, 200);
  color: rgb(21, 146, 104);
  border-radius: 8px;
}
.tituloSeccion {
  padding-left: 20px;
}
#cabeceraSeccion p a:hover {
  font-size: 16px;
}
#cabeceraSeccion p a {
  color: rgb(143, 197, 179);
  text-decoration: none;
}
#cabeceraSeccion {
  font-size: 15px;
  font-weight: bold;
  line-height: 3px;   
  border-radius: 8px; 
}
section {
  color: rgb(145, 182, 169);
  border-radius: 8px;
}
article {
  padding: 5px;
  background: rgb(166, 190, 182);
  color: rgb(21, 146, 104);
  font-size: 15px;
  width: 98%;
  border-radius: 8px;
}
.imagenesArticle {
  text-align: center;
  width: 100%;
  height: auto;
}
.imagenesArticle2 {
  text-align: center;
  width: 25%;
  height: auto;
}
.imagenesCabecera {
  text-align: center;
  width: 100%;
  max-width: 625px;
  height: auto;
}
.iconos {
  text-align: center;
}
.enlaceIconos a:visited {
  font-size:65;
  color: rgb(129, 175, 160);
}
.enlaceIconos a:hover {
  font-size:75px;
  color: rgb(107, 170, 149);
}
dt {
  font-weight: bold;
}
.enlaceIconos a {
  font-size:65px;
  color: rgb(132, 190, 171);
}
/*a:visited {
  font-size:90px;
  color: green;
}*/
#imagenIconos {
  font-size: 65px;
}
footer {
  background: rgb(133, 165, 154);
  line-height: 25px;
  color: rgb(21, 146, 104);
  vertical-align: bottom;
}
address {
  margin-left: 25px;
}